* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    background: #000000;
    position: relative;
}

.container {
    padding: 10px 10%;
    color: #fff;
}

.svg {
    margin-left: 5px;
    height: 50px;
    width: auto;
    transition: transform 1s;
}

.svg:hover {
    transform: rotate(360deg);
}

.nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    z-index: 100;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    font-family: 'Merriweather', serif;
    border-radius: 20px;
}

nav ul li a:hover {
    background: #ababab;
    color: #2b1055;
}

.Homepage {
    height: 90vh;
    color: #fff;
}

.Homepage-div {
    padding: 10px 10%;
    color: #fff;
    margin-top: 120px;
}

.line1 {
    font-size: 120%;
    color: #00ffff;
    font-family: 'League Spartan', sans-serif;
}

.line2 {
    font-size: 120%;
    color: #acb1b1;
    margin-bottom: 50px;
    font-family: 'League Spartan', sans-serif;
}

.name {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 400%;
    font-family: 'Merriweather', serif;
}

.btn {
    border: 2px solid #00ffff;
    text-decoration: none;
    background-color: transparent;
    color: #00ffff;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    transition: transform 0.5s;
}

.btn:hover {
    transform: scale(1.1) translateY(-5px);
    color: #00ffff;

}


/*   About me   */

#about {
    padding: 80px 0;
    height: 100vh;
    color: #acb1b1;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Merriweather', serif;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    font-family: 'Merriweather', serif;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #00ffff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin-top: 20px;
    font-family: 'League Spartan', sans-serif;
}

.tab-contents ul li span {
    color: #00ffff;
    font-size: 15px;
    font-family: 'Merriweather', serif;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}


/*   Portfolio   */


#Mywork {
    padding: 80px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: max-height 0.5s, opacity 0.5s;
    max-height: 1000px;
    opacity: 1;
    display: none;
}

.pfp-btn {
    border: 2px solid #00ffff;
    text-decoration: none;
    background-color: transparent;
    color: #00ffff;
    display: block;
    text-align: center;
    padding: 10px 0;
    margin: 5px auto 0;
    width: 20%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    transition: transform 0.5s;
}


.pfp-btn:hover {
    transform: scale(1.1) translateY(-5px);
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #00ffff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    font-size: larger;
    margin-bottom: 20px;
}

.layer a {
    text-decoration: none;
    margin-right: 15px;
    color: #fff;
    display: inline-block;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}





/*   contact me   */
#contact {
    margin-top: 100px;
}

.contact-left {
    flex-basis: 45%;
}

.contact-right {
    flex-basis: 55%;
}

.contact-left p {
    font-family: 'League Spartan', sans-serif;
}

.contact-left p i {
    color: #00ffff;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #00ffff;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background-color: transparent;
}

.contact-right form {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    font-family: 'League Spartan', sans-serif;

}

form .btn2 {
    border: 2px solid #00ffff;
    text-decoration: none;
    background-color: transparent;
    color: #00ffff;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    transition: transform 0.5s;
    padding: 14px 28px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.btn2:hover {
    transform: scale(1.1) translateY(-5px);
}

.copyright {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-weight: 300;
    margin-top: 20px;
}

.copyright p {
    color: #fff;
}

/* description */

#description {
    margin-top: 90px;
}

.carousel-container {
    width: 70%;
    margin: 20px auto;
}

.vid-container {
    width: 75%;
    margin: 20px auto;
}

.carousel-inner {
    border-radius: 3%;
}

.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    margin-top: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carou-img {
    max-width: 100%;
    height: auto;
}


#AboutWork {
    padding: 80px 0;
    display: none;
}

.about_work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 50px;
}

.aw {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: max-height 0.5s, opacity 0.5s;
    max-height: 1000px;
    opacity: 1;
    display: none;
}

.aw img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.aw-btn {
    border: 2px solid #00ffff;
    text-decoration: none;
    background-color: transparent;
    color: #00ffff;
    display: none;
    text-align: center;
    padding: 10px 0;
    margin: 5px auto 0;
    width: 40%;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Merriweather', serif;
    transition: transform 0.5s;
}

.pfp-title {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.pfp-left {
    flex-basis: 20%;
}

.pfp-left p span {
    color: #00ffff;
    font-family: 'Merriweather', serif;
}

.pfp-left p {
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
}

.pfp-right {
    flex-basis: 75%;
}

.pfp-right p {
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
}

/*   Background animation   */

.boxes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -100;
}

.boxes li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    bottom: -150px;
    border-radius: 25%;
    background: rgba(90, 90, 90, 0.7);
    animation: animate 15s linear infinite;
}

.boxes li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.boxes li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.boxes li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}

.boxes li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.boxes li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 8s;
}

.boxes li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-3000px) rotate(360deg);
        opacity: 0;
    }
}



/*    CSS for small screen   */

@media only screen and (max-width: 768px) {
    .container {
        padding: 10px 5%;
    }

    .Homepage,
    #about,
    #Portfolio {
        padding: 50px 0;
    }

    .navbar a {
        display: flex;
    }

    .Homepage-div {
        margin-top: 50px;
    }

    .name {
        font-size: 200%;
    }

    .btn {
        font-size: 14px;
    }

    .row {
        flex-direction: column;
    }

    .about-col-1,
    .about-col-2,
    .work,
    .contact-left,
    .contact-right {
        flex-basis: 100%;
    }

    .row {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .about-col-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-col-1 img {
        width: 70%;
        height: auto;
        margin-bottom: 5px;
    }

    .sub-title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .work-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .work {
        margin: 0 auto 20px;
    }

    .work .layer {
        font-size: 16px;
    }

    .pf-btn {
        font-size: 14px;
        width: 60%;
    }

    .contact-left p {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #description {
        padding: 0;
        margin: 0;
    }

    .carousel-container {
        display: none;
    }

    .vid-container {
        width: 90%;
        margin: 20px auto;
    }

    #AboutWork {
        padding: 0;
        display: block;
    }

    .aw-btn {
        display: block;
    }

    .about_work {
        grid-template-columns: repeat(1, 1fr);
    }

    .aw {
        margin: 0 auto 20px;
    }

}